a {
    cursor: pointer;
}

.main-container {
    height: 600px;
    background-size: auto 600px !important;
    text-align: right;
}

.bg-1 {
    background: rgb(104,185,46) url(../images/login/banner1.jpg) no-repeat center;
}
.bg-2 {
    background: rgb(0,161,58) url(../images/login/banner2.jpg) no-repeat center;
}
.bg-3 {
    background: rgb(104,185,46) url(../images/login/banner3.jpg) no-repeat center;
}


.login-box {
    display: inline-block;
    height: 360px;
    width: 320px;
    position: relative;
    top: 50%;
    left: -100px;
    transform: translate(0, -50%);
    /* margin: 100px 150px 100px 0; */
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 7px;
    text-align: center;
    padding: 30px;
    overflow: hidden;
    transition: all 1s ease 0s;
}

.login-box.fade-to-signup {
    left: -50%;
    transform: translate(50%, -50%);
    height: 430px;
    width: 350px;
}

.login-box > .login-title {
    font-size: 30px;
    margin-bottom: 40px;
}

.group-box {
    width: 100%;
    border-radius: 5px;
    height: 34px;
    font-size: 0;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.group-box > div {
    flex: 0 0 auto;
    font-size: 18px;
    line-height: 35px;
    height: 100%;
    padding: 0 10px 0 12px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba(104,185,46,0.8);
    color: white;
    font-weight: bold;
}

.group-box > input {
    flex: 1 1 auto;
    font-size: 16px;
    height: 100%;
    outline: 0;
    border: 1px solid #68b92e;
    padding: 10px;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.group-box:not([error]) > input:focus, .group-box > input:focus + div {
    box-shadow: 0px 0px 2px #68b92e;
}

.group-box[error] {
    box-shadow: 0px 0px 4px 1px #f00;
}

.group-box[error] > div {
    background-color: rgba(255,0,0,0.8);
}

.group-box[error] > input {
    border: 1px solid #f00;
}

.login-box > .input-set > .btn-login, .login-box > .input-set > .btn-login:active:hover {
    background-color: rgba(104,185,46,0.8);
    border: 1px solid #68b92e;
    padding: 4px;
    font-size: 18px;
    color: white;
    width: 100%;
    border-radius: 5px;
    outline: 0;
    transition: all 0.25s ease;
}


.login-box > .input-set > .btn-login:hover {
    background-color: rgba(104,185,46,1);
}

.link-box {
    float: right;
    margin-top: 10px;
    font-size: 13px;
}

.link-box > a, .link-box > a:visited {
    color: gray;
    text-decoration: none;
    outline: 0;
}

.link-box > a:hover, .link-box > a:active, .link-box > a:focus {
    color: #68b92e;
    text-decoration: none;
}

.loading-box {
    padding-top: 50px;
}

.error-tip {
    position: absolute;
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: left;
    transition: all 0.2s ease;
}

.error-tip.shake {
    animation: shake 0.5s 1;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(-10px);
    }
    30% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    70% {
        transform: translateX(10px);
    }
    90% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}


.signup-box {
    display: inline-block;
    height: 430px;
    width: 350px;
    position: relative;
    left: -50%;
    top: 50%;
    transform: translate(50%, -50%);
    /* margin: 100px 150px 100px 0; */
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 7px;
    text-align: center;
    padding: 30px;
    overflow: hidden;
}

.signup-box > .signup-title {
    font-size: 30px;
    margin-bottom: 40px;
}

.signup-box .group-box {
    margin: 15px 0;
}

.signup-box > .input-set > .btn-signup, .signup-box > .input-set > .btn-signup:active:hover {
    background-color: rgba(104,185,46,0.8);
    border: 1px solid #68b92e;
    padding: 4px;
    margin-top: 15px;
    font-size: 18px;
    color: white;
    width: 100%;
    border-radius: 5px;
    outline: 0;
    transition: all 0.25s ease;
}


.signup-box > .input-set > .btn-signup:hover {
    background-color: rgba(104,185,46,1);
}

.checkbox input[type=checkbox] {
    position: inherit !important;
}